
@{
    ViewData["Title"] = "Inicio";
}

<h2>Festa de Aniversário</h2>
<hr />
<p>O meu aniversario vai ser na Proxima semana </p>

<p>Você pode estar presente no dia? sim ou não</p>
<p>Para isso, clique <a asp-action="Formulario">AQUI</a></p>