@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Pagina Principal</h1>
    <!--Meneiras de Adicionar uma Parcial-->

    @Html.Partial("_PartialView")

    <partial name="_PartialView" />
    
    <a asp-action="Inicio">Ir para Inicio</a>
</body>
</html>
