@model Aula04.ViewModels.InformacoesJuntas

<h3>View Principal</h3>
<hr />
<h4> Dados do Cliente</h4>

<p>Nome do Cliente: @Model.humano.Nome @Model.humano.Sobrenome .</p>
<p>Carro: @Model.automovel.Marca - @Model.automovel.Cor</p>