
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pag1</title>
</head>
<body>
    <!--Utilizando o Razon-->
    <p>@ViewBag.mensagem1</p>
    <p>@ViewBag.mensagem2</p>


    <a asp-action="pag2">Pagina 2</a> <br />
    <a asp-action="Index">Voltar</a>
</body>
</html>
