
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pag2</title>
</head>
<body>
    <p> O meu nome é @ViewData["Nome"] @ViewData["Apelido"].</p>
    <a asp-action="pag1">Pagina 01</a><br />
    <a asp-action="Index">Voltar</a>
</body>
</html>
