
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pag3</title>
</head>
<body>
    <p> o meu nome é  @ViewData["nome"]</p>
    <a asp-action="pag2">Pagina 02</a><br />
    <a asp-action="Index">Voltar</a>
</body>
</html>
