
@{
    Layout = "_Layout";
    ViewBag.Title = "Pagina inicial";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>menu_inicial</title>
    <link href="~/css/bootstrap.min.css"rel="stylesheet" />
</head>
<body>
    <h2>Menu inicial</h2>
    <a asp-action="novo_cliente">Novo Cliente</a>

    <div class="container">

        <h1>Titulo 01</h1>
        <h2>Titulo 01</h2>
        <h3>Titulo 01</h3>
        <h4>Titulo 01</h4>
        <h5>Titulo 01</h5>
        <h6>Titulo 01</h6>

        <p class="card bg-light p-3">Temos o Bootstrap funcionando</p>

        <img src="~/imagens/store-4156934_1280.png" />
    </div>
</body>
</html>
