
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Novo_cliente</title>
</head>
<body>
    <form asp-controller="home" asp-action="novo_cliente" method="post">

        <input type="text" name="name" value="" />
        <button>Salvar novo Cliente</button>
    </form>
</body>
</html>
